.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.btn-warning {
    float: right;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-primary {
    float: right;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.list-group-item {
    font-variant: small-caps;
    display: block;
    padding: 22px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item-danger {
    color: #555;
}

.center{
  text-align: center;
  color: #23ab26;
}

.form-control {
    margin-left: 55px;
    width: 66%;
    height: 38px;
}
.btn-success {
   margin-right: 10px;
     float: right;
    width: 12%;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-info {
  margin-right: 10px;
    width: 12%;
    float: right;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-danger {
      margin-right: 10px;
    float: right;
    width: 12%;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
